<h1 id="bookings-h1">Your Bookings as an Owner</h1>
<div class="bookings-grid">
  <% @bookings.sort.reverse.each do |booking| %>
    <div class="bookings-card-product">
      <%= link_to castle_path(booking.castle), class: "booking-infos" do %>
        <div class="booking-img"  style="background-image: url('<%= if booking.castle.photo then cl_image_path booking.castle.photo.key end %>')">
        </div>
        <div class="booking-text">
          <h5><%= booking.castle.title %></h5>
          <h6><span class="icone-location"><i class="fa-sharp fa-solid fa-location-dot"></i></span><%= booking.castle.location %></h6>
          <p><strong>from</strong> <%= booking.check_in.strftime("%A %d %B %Y")%></p>
          <p><strong>to</strong> <%= booking.check_out.strftime("%A %d %B %Y") %></p>
          <p><strong><%= booking.total_price %> €</strong></p>
        </div>
      <% end %>
      <div class="bookings-validations">
        <div class="bookings-situation" id="bookings-situation-owner">
          <div class="confirmation-status-pending">
            <% case booking.validates %>
            <% when "accepted" %>
                <p id="text"><strong>Booking accepted</strong>
                <i class="fa-regular fa-circle-check"></i></p>
                <div>
                  <%= link_to 'Cancel my decision',
                    cancel_decision_owner_booking_path(booking),
                    data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to Cancel your decision?"},
                    calss:"btn-cancel-decision-owner",
                    id:"no-decoration"
                  %>
                </div>
            <% when "declined" %>
                <p id="text"><strong>Booking declined</strong>
                <i class="fa-regular fa-circle-xmark"></i></p>
                <div>
                  <%= link_to 'Cancel my decision',
                    cancel_decision_owner_booking_path(booking),
                    data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to Cancel your decision?"},
                    calss:"btn-cancel-decision-owner",
                    id:"no-decoration"
                  %>
                </div>
            <% else %>
              <p id="text"><strong>Waiting for acceptation</strong></p>
            <% end%>
          </div>
        </div>
        <% if booking.validates == "pending" %>
          <div class="bookings-acceptation">
            <%= link_to 'Accept',
              accept_owner_booking_path(booking),
              data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to Accept the offer?"},
              class:"btn-accept"
            %>
            <%= link_to 'Decline',
              decline_owner_booking_path(booking),
              data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to Decline the offer?"},
              class:"btn-decline"
            %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
