<h1 id="bookings-h1">Your Bookings as a Renter</h1>
<div class="bookings-grid">
  <% @bookings.sort.reverse.each do |booking| %>
    <div class="bookings-card-product">
      <%= link_to castle_path(booking.castle), class: "booking-infos" do %>
        <div class="booking-img"  style="background-image: url('<%= if booking.castle.photo then cl_image_path booking.castle.photo.key end %>')">
        </div>
        <div class="booking-text">
          <h5><%= booking.castle.title %></h5>
          <h6><span class="icone-location"><i class="fa-sharp fa-solid fa-location-dot"></i></span><%= booking.castle.location %></h6>
          <p><strong>from</strong> <%= booking.check_in.strftime("%A %d %B %Y")%></p>
          <p><strong>to</strong> <%= booking.check_out.strftime("%A %d %B %Y") %></p>
          <p><strong><%= booking.total_price %> €</strong></p>
        </div>
      <% end %>
      <div class="bookings-validations">
        <div class="bookings-situation">
          <p class="confirmation-status-current"><strong>
            <% case booking.validates %>
            <% when "accepted" %>
              <%= "Booking accepted" %>
              <i class="fa-regular fa-circle-check"></i>
            <% when "declined" %>
              <%= "Booking declined" %>
              <i class="fa-regular fa-circle-xmark"></i>
            <% else %>
              <%= "Waiting for acceptation" %>
            <% end %>
          </strong></p>
        </div>
        <%=
            link_to 'Cancel my booking',
            booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to Cancel your booking ?"},
            calss:"btn-cancel-decision",
            id:"no-decoration"
        %>
      </div>
    </div>
  <% end %>
</div>
