<div class="card-trip">
  <%= cl_image_tag @castle.photo.key %>
  <div class="card-trip-explications">
    <div class="card-trip-body">
      <div class="card-trip-infos">
        <div class="card-trip-infos-title">
          <h4><strong><span class="title-lign"><%= @castle.title %></span></strong></h4>
          <div class="card-trip-infos-title-category"><%= @castle.category.upcase %></div>
        </div>
        <br>
        <p class="card-trip-capacity-and-location"><i class="fa-sharp fa-solid fa-user-group"></i> <strong><%=@castle.capacity %></strong> <em>travellers</em>&ensp;•&ensp;<strong><em><%=@castle.location%></em></strong></p>
        <p class="card-trip-description"><em><%= @castle.description %></em></p>
        <br>
      </div>
      <div class="separation-lign"></div>
      <div class="card-trip-owner">
      <br>
        <h3><%= cl_image_tag @castle.user.photo.key, class:"owner-image"%> <strong><%= @castle.user.first_name %> <%= @castle.user.last_name %></strong></h3>
        <p><em><%= @castle.user.description %></em></p>
      </div>
      <div class="separation-lign"></div>
      <br>
      <div class="map-section" >
        <h3><strong> Find out where the castle is located </strong></h3>
        <br>
        <div class="display-map" data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
    <div class="card-trip-form" data-controller="totalprice" data-price="<%= @castle.price %>">
        <%= simple_form_for [@castle, @booking] do |f| %>

          <h6 class="card-trip-pricing"> <strong><%= @castle.price %></strong> € per night</h6>
          <br>
          <%= f.input :check_in, html5: true, label: "CHECK-IN", input_html: {data: { totalprice_target: 'checkin', action: "input->totalprice#calculatePrice"}} %>
          <%= f.input :check_out, html5: true, label: "CHECK-OUT", input_html: {data: { totalprice_target: 'checkout', action: "totalprice#calculatePrice" }}  %>
          <%= f.submit "Reserve", class:"button-booking" %>
          <%= f.input :total_price, label: false, input_html: {class:"d-none"} %>
        <% end %>
        <br>
        <div id="bill" class="d-flex flex-column sticky-top">
          <div class="d-flex justify-content-between">
            <div>
              <h3 id="loc"> <%= @castle.price %> €</h3>
            </div>
            <div>
              <h3 id="totalloc"> € </h3>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <h3> Cleaning fee </h3>
            </div>
            <div>
              <h3 id="clfee"> € </h3>
            </div>
          </div>
          <div class="total-line"></div>
          <div class="d-flex justify-content-between">
            <div>
              <h3> Total </h3>
            </div>
            <div>
              <h3 id="total"> € </h3>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
