<div class="card-trip">
  <%= image_tag "show_chenonceau_2.jpg" %>
  <div class="card-trip-infos">
    <div>
      <h1><%= @castle.title %></h1>
      <p><%= @castle.description %></p>
      <p><i class="fa-sharp fa-solid fa-user-group"></i> <%=@castle.capacity %></p>
      <h4 class="card-trip-pricing"> <strong><%= @castle.price %></strong>€ par nuit</h4>
    </div>
    <div>
      <%= simple_form_for [@castle, @booking] do |f| %>
        <%= f.input :check_in %>
        <%= f.input :check_out %>
        <%= f.input :total_price %>
        <%= f.input :validates %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
