<!DOCTYPE html>

<html>
  <head>
    <title>EXEPTIONS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="assets/css/style.css">
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="left-navbar">
    </div>
    <%= link_to root_path  do %>
      <%# <a class="navbar-brand" href="#"> %>
        <%= image_tag "logo-navbar.png", class:"navbar-brand-img" %>
      <%# </a> %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <div class="my-boutn">
          <%= link_to 'Add an offer', new_owner_castle_path %>
        </div>
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <% if (current_user.photo.key).nil? %>
                <%= image_tag "icon-logo-user-connected.jpg", class:"avatar dropdown-toggle", id:"navbarDropdown", data: {bs_toggle:"dropdown"},"aria-haspopup": true, "aria-expanded": false %>
              <% else %>
                <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class:"avatar dropdown-toggle", id:"navbarDropdown", data: {bs_toggle:"dropdown"},"aria-haspopup": true, "aria-expanded": false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My Account</a>
                <%= link_to "My bookings", bookings_path, class:"dropdown-item" %>
                <%= link_to "My offers", owner_bookings_path, class:"dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            <% else %>
              <%= image_tag "icon-logo-user.png", class:"avatar dropdown-toggle", id:"navbarDropdown", data: {bs_toggle:"dropdown"},"aria-haspopup": true, "aria-expanded": false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/sign_in">Sign in</a>
              </div>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
    <%= yield %>
    <%# <%= render "shared/navbar" %>
     <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <%# <%= render "shared/flashes" %>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fab fa-linkedin"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">© 2023 Exeptions</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
